doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/purchase.css') 
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet")
  body
    .container.left30
      .product-info-container

    .container.ubuntu.left70
      .inner-container
        form(action="/check-order" METHOD='POST')
          div.category
            label(for="addres")
            |Address
            input(type="text" id="address" placeholder="Address" name="addr" value=userInfo.address)
          
          div.inline.category
            div
              label(for="name")
              |Name
            input(type="text" id="name" placeholder="Name" name="name" value=userInfo.name)

          div.inline.category
            div
              label(for="phone")
              |Phone
            input(type="tel" id="phone" placeholder="Phone" name="phone" value=userInfo.phone pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}")

          div.inline-em.category.flex
            div
              label(for="em")
              |E-mail
              input(type="text" id="em" placeholder="email" name="emailName")
            div.inline.category.w30.selectbox
              label Choose
              select(name="emailAddress")
                option(value="@naver.com") @naver.com 
                option(value="@kakao.com") @kakao.com 
                option(value="@daum.net") @daum.net 
                option(value="@nate.net") @nate.net 
                option(value="@google.com") @google.com
          .category 
            button.create.w80(type='submit') Order

  script(src="js/purchase.js")
  script.
    console.log(document.getElementsByClassName('product-info-container')[0].style)
    let product_proto = {
          increase : function(){
            this.count++;
          },
          decrease: function(){
            this.count--;
          },
    }
    let product = cookies;
  
    function setProduct(){
      let container = document.getElementsByClassName('product-info-container')[0];
      for(let i = 0; i < product.length; i++){
        product[i].__proto__ = product_proto;

        let newdiv = document.createElement('div');
        newdiv.innerHTML = `
          <div>
            제품 : ${product[i].name} 가격 : ${product[i].price} 수량 : ${product[i].count}
          </div>
        `
        container.appendChild(newdiv);
      }
    }
    setProduct();